.contApresentação{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}
.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 14pt;
}
.apresentacao h1{
    font-size: 90pt;
}